# Set api key to whatever you want, (this is not immich api key, its api key for this server) just use that same one in immich workflow params
API_KEY=

# Immich url in this format: https://exampleImmichUrl.com
IMMICH_URL=

# API Key for Immich, Minimum needed perms is asset update
IMMICH_API_KEY=

# The timezone you want the images to be in, works with daylight saving ones, eg Europe/London
TZ=